# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.
#
# If you need help with YAML syntax, here are some quick references for you: 
# https://learn-the-web.algonquindesign.ca/topics/markdown-yaml-cheat-sheet/#yaml
# https://learnxinyminutes.com/docs/yaml/
#
# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.

title: osfanbuff63
email: osfanbuff63@gmail.com
description: >- 
  osfanbuff63's thoughts on various things, and updates on important stuff and things! (P.S. Exploring is fun!)
baseurl: "" 
url: "https://osfanbuff63.github.io" 
github_username: osfanbuff63

# Build settings
theme: minimal-mistakes-jekyll
plugins:
  - "jekyll-feed"
  - "jekyll-include-cache"
  - 'jekyll-paginate-v2'
  - 'jekyll-mentions'
  - 'jemoji'
  - 'jekyll-sitemap'
  - 'jekyll-figure'
minimal_mistakes_skin: "dark"
logo: /assets/images/logo/wolfanbuff63_.png
# Exclude from processing.
# The following items will not be processed, by default.
# Any item listed under the `exclude:` key here will be automatically added to
# the internal "default list".
#
# Excluded items can be processed by explicitly listing the directories or
# their entries' file path in the `include:` list.
#
# exclude:
#   - .sass-cache/
#   - .jekyll-cache/
#   - gemfiles/
#   - Gemfile
#   - Gemfile.lock
#   - node_modules/
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/

repository: osfanbuff63/osfanbuff63.github.io
comments:
  provider: giscus
  giscus:
    repo_id              : "R_kgDOHfNGyQ"
    category_name        : "Announcements"
    category_id          : "DIC_kwDOHfNGyc4CPnwK"
    discussion_term      : "pathname"
    reactions_enabled    : "1"
    theme                : "dark"
defaults:
   - scope:
       path: ""
       type: pages
     values:
       layout: single
       author_profile: false
       sidebar: true
include: [_pages]
# Site configuration for the Jekyll 3 Pagination Gem
# The values here represent the defaults if nothing is set
pagination:
  enabled: true
  # Set to 'true' to enable pagination debugging. This can be enabled in the site config or only for individual pagination pages
  debug: false
  collection: 'posts'
  per_page: 10
  # The permalink structure for the paginated pages (this can be any level deep)
  permalink: '/page/:num/' # Pages are index.html inside this folder (default)
  title: ':title - page :num'
  # Limit how many pagenated pages to create (default: 0, means all)
  limit: 0
  # Optional, defines the field that the posts should be sorted on (omit to default to 'date')
  sort_field: 'date'
  # Optional, sorts the posts in reverse order (omit to default decending or sort_reverse: true)
  sort_reverse: true
  # Optional, the default category to use, omit or just leave this as 'posts' to get a backwards-compatible behavior (all posts)
  category: 'posts'
 # Optional, omit or set both before and after to zero to disable. 
 # Controls how the pagination trail for the paginated pages look like. 
  trail: 
    before: 2
    after: 2
  # Optional, the default file extension for generated pages (e.g html, json, xml).
  # Internally this is set to html by default
  extension: html
  # Optional, the default name of the index file for generated pages (e.g. 'index.html')
  # Without file extension
  indexpage: 'index'

############################################################
